<form>
  <h2>
    <span class="entypo-login"><i class="fa fa-sign-in"></i></span> Login
  </h2>
  <button class="submit" (click)="login()">
    <span class="entypo-lock"><i class="fa fa-lock"></i></span>
  </button>
  <span class="entypo-user inputUserIcon">
    <i class="fa fa-user"></i>
  </span>
  <!-- si hay erro mostrar cuadro rojo -->
  <input
    type="text"
    class="user"
    placeholder="username"
    name="user"
    required="user"
    [(ngModel)]="user"
    [ngStyle]="{ 'border-color': userInvalid ? 'red' : '' }"
  />
  <span class="entypo-key inputPassIcon">
    <i class="fa fa-key"></i>
  </span>
  <input
    type="password"
    class="pass"
    placeholder="password"
    name="pass"
    required="pass"
    [(ngModel)]="pass"
    [ngStyle]="{ 'border-color': passInvalid ? 'red' : '' }"
  />
  <section *ngIf="errorMessage != ''" class="alert alert-danger">
    {{ errorMessage }}
  </section>
</form>
