<h2 class="text-center">Iniciar sesion</h2>
<section class="container-sm">
  <section class="col-3">
    <section class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username">
    </section>
    <section class="form-group">
      <label for="password">Password:</label>
      <input type="text" class="form-control" id="password">
    </section>
    <input type="button" class="btn btn-primary" (click)="login()" value="Log in">
  </section>
</section>
