<!--<h2 class="text-center">Iniciar sesion</h2>
<section class="container-sm">
  <section class="col-3">
    <section class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username">
    </section>
    <section class="form-group">
      <label for="password">Password:</label>
      <input type="text" class="form-control" id="password">
    </section>
    <input type="button" class="btn btn-primary" (click)="login()" value="Log in">
  </section>
</section>
-->
<form >
  <h2><span class="entypo-login"><i class="fa fa-sign-in"></i></span> Login</h2>
  <button class="submit" (click)="login()" ><span class="entypo-lock"><i class="fa fa-lock"></i></span></button>
  <span class="entypo-user inputUserIcon">
     <i class="fa fa-user"></i>
   </span>
  <input type="text" class="user" placeholder="username" name="user" required="user"/>
  <span class="entypo-key inputPassIcon">
     <i class="fa fa-key"></i>
   </span>
  <input type="password" class="pass"placeholder="password" name="pass" required="pass"/>
</form>
