<div class="container">
  <svg viewBox="0 0 5700 900">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="80%">Bienvenidos!!!</text>
    </symbol>


    <g class = "g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
    </g>
  </svg>
</div>
