<h1 mat-dialog-title class="text-center text-white">
  Gracias por contactarnos
</h1>
<section mat-dialog-content class="text-center text-white">
  <p class="text-center text-white">
    En breve nos pondremos en contacto contigo
  </p>
</section>
<section mat-dialog-content class="text-center text-white">
  <img src="http://i.stack.imgur.com/SBv4T.gif" alt="this slowpoke moves"  width="250" />
</section>
<section mat-dialog-actions class="text-center d-flex justify-content-center">
  <button mat-raised-button color="warn" mat-dialog-close cdkFocusInitial>
    Ok
  </button>
</section>
